@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: "Raleway", sans-serif; */

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.side {
  flex: 0.25;
  background-color: #1e213a;
}
.detail {
  flex: 0.75;
  background-color: #100e1d;
}

.side .top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 35px;
}

.side .top > button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
}

.detail .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.detail .top .card {
  margin: 30px auto;
  color: white;
  background-color: #1e213a;
}
p > span {
  padding-left: 10px;
}

.detail .middle .card .row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.detail .middle h3 {
  color: white;
}
.middle .card .row > div {
  width: 328px;
  background: #1e213a;
  color: white;
}

.content {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}

.content .content-main {
  background: #1e213ad4;
  color: #fff;
  text-align: center;
}
.content .content-main h3 sup {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 100px;
  color: #fff;
}
.content .content-main h3,.content .content-main h5{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #a09fb1;
  padding:40px;
}
.content .content-main p{
   font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #88869d;
  padding: 20px 40px;
}

.content .content-main img {
  width: 202px;
  height: 200px;
  margin: 40px;
}
img {
  width: 56.44px;
  height: 62px;
}
