*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display:flex;
  width: 100vw;
  height:100vh;
}
.side{
  flex:.25;
  background-color: #1e213a;
}
.detail{
  flex:.75;
  background-color:#100e1d
}

.side .top{
  display:flex;
  justify-content:space-between;
  margin-top: 30px;
  padding: 35px;
}

.side .top > button{
  padding:10px 20px;
}

.detail .top{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.detail .top .card{
  margin: 30px auto;
  color: white;
  background-color: #1e213a;
}
p >span{
  padding-left:10px;
}